BASE_URL_DEV=http://localhost:8000/
BASE_URL_PROD=http://example.com/
API_URL_DEV=http://localhost:8080/
API_URL_PROD=http://api.example.com/

# IMAGES HOST
IMAGES_HOST_DEV=
IMAGES_HOST_PROD=

# GUEST USER
GUEST_USER_DEV=USER
GUEST_USER_PROD=USER
GUEST_PASS_DEV=PASS
GUEST_PASS_PROD=PASS

